
$nav: rgb(2, 25, 69);
$main-white: rgb(255, 255, 255);

$temp-bg: rgb(203, 221, 227, 0.3);
$temp-select:rgba(202,222,227,1);
$temp-left-gradient: linear-gradient(222deg, rgba(202,222,227,1) 0%,  rgba(1,66,113,1) 100%);
$temp-right-gradient: linear-gradient(222deg, rgba(141,195,211,1) 0%, rgba(202,222,227,1) 100%);
$temp-btn-gradient: linear-gradient(222deg, rgba(0,65,117,1) 0%, rgba(3,131,179,1) 100%);


$time-bg: rgb(106, 187, 190, 0.3);
$time-select:rgba(98,191,192,1);
$time-left-gradient: linear-gradient(111deg, rgba(3,144,151,1) 0%, rgba(98,191,192,1) 100%);
$time-right-gradient: linear-gradient(111deg, rgba(98,191,192,1) 0%, rgba(3,88,85,1) 100%);
$time-btn-gradient: linear-gradient(222deg, rgba(126,111,153,1) 0%, rgba(101,183,188,1) 100%);


$gme-bg: rgb(164, 191, 92, 0.3);
$game-tomato: rgb(241, 125, 84);
$game-br-red: rgb(216, 87, 63);
$game-top-gradient: linear-gradient(222deg, rgba(241,125,84,1) 0%, rgba(216,87,63,1) 100%);
$game-blue: rgb(130, 205, 192);
$game-br-green: rgb(164, 191, 92);
$game-bott-gradient: linear-gradient(222deg,  rgba(130,205,192,1) 0%, rgba(164,191,92,1) 100%);
$game-btn-1: linear-gradient(222deg, rgba(164,191,93,1) 0%, rgba(241,125,84,1) 100%);
$game-btn-2: linear-gradient(222deg, rgba(164,191,93,1) 0%, rgba(130,205,192,1) 100%);
$game-btn-3: linear-gradient(222deg, rgba(238,185,107,1) 0%, rgba(130,205,192,1) 100%);
$game-btn-4: linear-gradient(222deg, rgba(238,185,107,1) 0%, rgba(216,87,63,1) 100%);


$shop-bg: rgb(210, 209, 91, 0.3);
$shop-btn-first: rgb(28, 76, 85);
$shop-btn-sec: rgb(29, 53, 0);
$shop-btn-third: rgb(77, 184, 192);
$shop-btn-fourth: rgb(116, 155, 10);
$shop-btn-fifth: rgb(210, 209, 91);
$shop-btn-and-gradient: linear-gradient(222deg, rgba(210,208,90,1) 0%, rgba(77,184,190,1) 100%);
$shop-btn-gradient-first: linear-gradient(222deg, rgba(28,76,85,1) 0%, rgba(210,208,90,1) 100%);
$shop-btn-gradient-sec: linear-gradient(222deg, rgba(155,156,6,1) 0%, rgba(29,53,0,1) 100%);
$shop-panel-gradient: linear-gradient(222deg, rgba(210,209,91,1) 0%, rgba(79,183,191,1) 100%); 


$calc-bg: rgb(241, 212, 142, 0.3);
$calc-btn-1: rgb(196, 222, 157 );
$calc-btn-2: rgb(194, 164, 205);
$calc-btn-3: rgb(127, 217, 194);
$calc-btn-4: linear-gradient(222deg, rgba(210,209,91,1) 0%, rgba(241,212,142,1) 100%);
$calc-btn-5: rgb(241, 212, 142);
$calc-btn-6: linear-gradient(222deg, rgba(196,222,158,1) 0%, rgba(241,212,142,1) 100%);
$calc-btn-7: linear-gradient(222deg, rgba(235,133,115,1) 0%, rgba(241,212,142,1) 100%) ;
$calc-btn-8: linear-gradient(222deg, rgba(196,222,158,1) 0%, rgba(127,217,194,1) 100%);
$calc-btn-9: rgb(235, 133, 115);
$calc-bg: rgb(241, 212, 142, 0.3);
