.section-shop{
    padding: 100px 0;
    background-color: $shop-bg;
}

.shop-wrapper{
    @include positioning(flex, _, _, center, 20px, wrap);
    max-width: 346px;
}

.shop-container{
    position: relative;
    background: $shop-panel-gradient;
    padding: 12px 25px;
    border-radius: 24px;
    min-width: 318px;
}

.shop-title{
    font-weight: 600;
    font-size: 24px;
    color: $main-white;
    margin-bottom: 41px;
}

.shop-price{
    font-weight: 600;
    font-size: 36px;
    color: $main-white;
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 45px;
}

.shop-desc{
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    color: $main-white;
    padding-top: 13px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 2px solid $main-white;
        width: 203px;
    }
    

    &-input{
        color: $main-white;

        font-weight: 500;
        font-size: 20px;
        @include positioning(flex, _, center, center, 5px, _);
    }
}

.shop-input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: $shop-btn-third;
    cursor: pointer;
    position: relative;
    display: inline-block;

    &:checked::after {
        content: "";
        position: absolute;
        left: 7px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}



.svg{
fill: currentColor;
}