.section-temperature{
    padding: 200px 0 100px 0;
    background-color: $temp-bg;
}

.temperature-wrap{
    @include positioning(flex, _, center, center, 50px, _);
    margin-bottom: 40px;
}

.temperature-input{
    border: none;
    border-radius: 24px;
    padding: 25px;
    min-width: 400px;

    font-weight: 500;
    color: $main-white;

    &-first{
        background: $temp-left-gradient;
    }

    &-sec{
        background: $temp-right-gradient;
    }

    &:focus-within{
        outline: none;
    }

    &::placeholder{
        color: $main-white;
    }
}

.temperature-select{
    background: $temp-select;
    border: none;
    padding: 25px;
    border-radius: 42px;

    font-weight: 500;
    color: $main-white;

    &:focus-within{
        outline: none;
    }
}
